<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Mâlie"
    Manufacturer="Malie"
    Version="$(var.ProductVersion)"
    UpgradeCode="59B2C23C-8360-43EC-9B7A-86D06C938A8D"
    InstallerVersion="500"
    Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Mâlie is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppSunIcon" SourceFile="$(var.AppSunIconPath)" />
    <Property Id="ARPPRODUCTICON" Value="AppSunIcon" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Malie" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="Mâlie" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />

    <Feature Id="MainFeature" Title="Mâlie" Level="1">
      <ComponentGroupRef Id="PublishedComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="ShortcutComponents">
      <Component Id="DesktopShortcutComponent" Directory="DesktopFolder" Guid="*">
        <Shortcut
          Id="DesktopShortcut"
          Name="Mâlie"
          Description="Mâlie"
          Target="[INSTALLFOLDER]Malie.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppSunIcon"
          IconIndex="0" />
        <RegistryValue
          Root="HKCU"
          Key="Software\Malie"
          Name="DesktopShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>

      <Component Id="StartMenuShortcutComponent" Directory="ProgramMenuDir" Guid="*">
        <Shortcut
          Id="StartMenuShortcut"
          Name="Mâlie"
          Description="Mâlie"
          Target="[INSTALLFOLDER]Malie.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppSunIcon"
          IconIndex="0" />
        <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\Malie"
          Name="StartMenuShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
